body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  margin-bottom: 10px;
}

.sub-title {
  margin-bottom: 10px;
}

.adjuster {
  display: inline-flex;
  margin-bottom: 40px;
}

.time-container {
  display: inline-flex;
  margin-right: 20px;
}

.time-container:last-child {
  margin-right: 0px;
}

#countdown-clock {
  width: 460px;
  float: none;
  margin: 0 auto;
}

.cishu-container {
  display: inline-flex;
}

.left-button {
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.right-button {
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}
